<h1>Purses</h1>

<% @purses.each do |purse| %>
  <h2>Name: <%= purse.name %></h2>
  <h4>Price: <%= purse.price %></h4>
  <img src=<%= purse.image %>> 
  <h3>Description: <%= purse.description %></h3>
  <br>
<% end %>