.purse_image {
    width: 300px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-image: url('white_wall.png');
  color: navy;
  
}

.product-index-single{
    height: 900px;
}

.well img{
  width: 100%;
}

.item-view{
  color: navy;  
  width: 500px;
}

.description{
  width: 75%;
}

.red-price{
  color: red;
}